.wrapper-favorite {
   min-height: 100vh;
   background: #f5f6fa;
   padding: 20px 0;
}

.container {
   max-width: 1920px;
   margin: 0 auto;
   padding: 0;
}

.favorite-title {
   text-align: center;
   color: white;
   font-size: 2.5rem;
   margin-bottom: 40px;
   font-weight: 300;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.empty-favorites {
   text-align: center;
   background: white;
   border-radius: 15px;
   padding: 60px 40px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   margin-top: 50px;
}

.empty-favorites p {
   font-size: 1.2rem;
   color: #666;
   margin-bottom: 30px;
}


.favorites-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 1px;
   margin-top: 1px;
}

.favorite-item {
   background: transparent;
   transition: all 0.3s ease;
   position: relative;
}

.favorite-item-image {
   width: 100%;
   aspect-ratio: 7 / 9;
   background: #eff1f1;

}

.favorite-item-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.favorite-item-info {
   width: 100%;
   background-color: transparent;
   padding: 5px;
   color: #fff;
   text-align: center;
}

.favorite-item-name {
   font-size: 16px;
   line-height: 21px;
   color: #121313;
   margin-bottom: 6px;
}

.favorite-item-price {
   color: #f53f4a;
   font-weight: 400;
   margin-bottom: 14px;
   font-size: 16px;
   line-height: 16px;
}

.favorite-item-actions {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.btn-view-product {
   background: #06ada8;
   color: white;
   padding: 12px 20px;
   text-decoration: none;
   text-align: center;
   font-weight: 400;
   transition: all 0.3s ease;
   border: none;
   font-size: 16px;
   line-height: 16px;
   cursor: pointer;
   margin-bottom: 0px;
}

.btn-remove-favorite {
   width: 28px;
   height: auto;
   color: #f53f4a;
   cursor: pointer;
}

.btn-remove-favorite svg {
   width: 100%;
   height: auto;
   object-fit: cover;
}

.btn-remove-favorite:hover {
   color: #f53f4a;
   opacity: 0.8;
}

/* Адаптивность */
@media (max-width: 768px) {
   .container {
      padding: 0 15px;
   }

   .favorite-title {
      font-size: 2rem;
      margin-bottom: 30px;
   }

   .favorites-grid {
      grid-template-columns: 1fr;
      gap: 20px;
   }

   .favorite-item-info {
      padding: 20px;
   }

   .favorite-item-name {
      font-size: 1.1rem;
   }

   .favorite-item-price {
      font-size: 1.3rem;
   }
}

@media (max-width: 480px) {
   .favorite-title {
      font-size: 1.8rem;
   }

   .empty-favorites {
      padding: 40px 20px;
   }

   .empty-favorites p {
      font-size: 1rem;
   }
}